@import url(reset.css);

/*-----------------------------Grid--------------------------------*/
* {
	box-sizing: border-box;	
}

.row::before,
.row::after {
	content: "";
	display: table;
	clear: both;
}

[class*="col-"] {
	float: left;
	min-height: 1px;
	padding-left: 0;
	padding-right: 0;
}

.col-xl-1 {width: 8.33%;}
.col-xl-2 {width: 16.66%;}
.col-xl-3 {width: 25%;}
.col-xl-4 {width: 33.33%;}
.col-xl-5 {width: 41.66%;}
.col-xl-6 {width: 50%;}
.col-xl-7 {width: 58.33%;}
.col-xl-8 {width: 66.66%;}
.col-xl-9 {width: 75%;}
.col-xl-10 {width: 83.33%;}
.col-xl-11 {width: 91.66%;}
.col-xl-12 {width: 100%;}
	
.col-xl-offset-1 {margin-left: 8.33%;}
.col-xl-offset-2 {margin-left: 16.66%;}
.col-xl-offset-3 {margin-left: 25%;}
.col-xl-offset-4 {margin-left: 33.33%;}
.col-xl-offset-5 {margin-left: 41.66%;}
.col-xl-offset-6 {margin-left: 50%;}
.col-xl-offset-7 {margin-left: 58.33%;}
.col-xl-offset-8 {margin-left: 66.66%;}
.col-xl-offset-9 {margin-left: 75%;}
.col-xl-offset-10 {margin-left: 83.33%;}
.col-xl-offset-11 {margin-left: 91.66%;}

/*------------------------------Html---------------------------------*/

.container {
	width: 100%;
	max-width: 120rem;
	margin: 0 auto;
}

/*------------------------Fonts and Colors---------------------------------*/
body {
    font-family: 'Open Sans', sans-serif;
}

html {
    font-size: 62.5%;
    letter-spacing: 1px;
}

nav a,
h1, 
.tagline p,
.icons h2,
.tablet .col-l-8 .col-l-12 p,
.info h3 {
    text-transform: uppercase;
}

nav a {
    font-weight: 800;
}

h1,
.place p,
.tablet .col-l-8 .col-l-12 p {
	font-weight: 700;
}

h2,
.numbers p,
.info .text2, 
.info h3 {
    font-weight: 600;
}

.tagline p {
	font-weight: 400;
}

nav a,
nav a:hover {
	text-decoration: none;
}

.tagline p,
.info h3 {
    letter-spacing: .2rem;
}

h1,
.tablet .col-l-8 .col-l-12 p {
    letter-spacing: .3rem;
}

.numbers p:last-of-type,
.info .social,
header > nav ul > li > a:hover {
	color: #00c7e8;
}

h1, 
.tagline p,
.fa-4x, 
.fa-3x,
.layer,
.tablet .col-l-8 .col-l-12 p, 
.tablet .col-l-8 .col-l-7 p, 
.tablet .col-l-8 .col-l-5 p,
.info .text1, 
.info .text2, 
.info .text3, 
.info h3,
footer {
    color: #fff;
}

.tagline,
.foto .layer,
.tablet {
	background-color: rgba(0, 0, 0, .5);
}

/*----------------------------Header---------------------------------*/
nav a {
	font-size: 1.8rem;
    line-height: 11rem;
    color: #000;
	display: inline-block;
    padding: 0 2rem;
}

nav img {
    width: 32rem;
    max-width: 100%;
    height: auto;
    padding-top: .65rem;
}

nav ul {
	list-style-type: none;
	float: right;
}

nav li {
	display: inline-block;
    position: relative;
}

nav::before,
nav::after {
	content: "";
	display: table;
	clear: both;
}

/*--------------------------------Hero---------------------------------*/
h1 {
    font-size: 2.4rem;
	padding: 1rem 0 .5rem 2rem;
}

.tagline p {
    font-size: 1.8rem;
	line-height: 2rem;
    max-width: 60%;
	padding: 0 2rem 1rem;
}

.tagline {
	position: absolute;
	top: 5rem;
	right: 0;
}

.hero {
	background-image: url("img/background.jpeg");
	background-size: cover;
	background-position: center -5rem;
    width: 100%;
	height: 32rem;
	position: relative;
    border-top: .6rem solid #313234;
    border-bottom: .6rem solid #313234;
}

h1, .tagline p {
    text-align: left;
}

/*----------------------------------Icons------------------------------------*/
.fa-4x, 
.fa-3x {
    width: 6rem;
	height: 6rem;
	background: #313332;
	border-radius: 15%;
	line-height: 6rem;
	margin: 0 auto;
}

h2 {
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: .8rem;
}

.icons p {
    font-size: 1.6rem;
    line-height: 2rem;
}

.icons > .container {
	margin: 1rem auto;
	text-align: center;
}

.icons-padding {
	padding: 2.5rem 3.5rem;
}

.fa-3x:hover, 
.fa-4x:hover {
	cursor: pointer;
}

/*--------------------------------Foto-----------------------------*/
.foto img {
    height: 27rem;
    width: 100%;
    display: block;
}

.layer {
	text-align: center;	
	line-height: 27rem;
}

.foto [class*="col-"] {
	position: relative;
}

.foto .layer {
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
}

.fa-lg {
    padding: 5px;
}

.foto .gal:hover .layer {
	display: block;
	cursor: pointer;
}

.object-fit_cover { 
  object-fit: cover; 
}

/*-------------------------------Places----------------------------------*/
.place p {
    font-size: 1.6rem;
    padding-top: .5rem;
    margin-bottom: 1.5rem;
}

.place {
	padding: 1.5rem 0;	
}

.place img {
    height: 14rem;
    width: 14rem;
    border-radius: 50%;
    margin-top: 1.5rem;
}

.place img:hover {
    cursor: pointer;
}

.object-fit_cover { 
  object-fit: cover; 
}

.place [class*="col-"] {
	text-align: center;
}

/*---------------------------------Tablet------------------------------------*/
.tablet .col-l-8 .col-l-12 p {
	font-size: 2.2rem;
}

.tablet .col-l-8 .col-l-7 p, 
.tablet .col-l-8 .col-l-5 p {
    font-size: 1.7rem;
    line-height: 2.2rem;
}

.tablet .col-l-4, 
.tablet .col-l-8 {
	padding-top: 2.8rem;	
    padding-left: 1rem;
}

.tablet .bg {
	background-image: url("img/laptop.png");
	background-size: 36.33% auto;
	background-repeat: no-repeat;
	background-position: left 50%;
	min-height: 27rem; 
}
	
.tablet .col-l-8 .col-l-12 p, 
.tablet .col-l-8 .col-l-7 p, 
.tablet .col-l-8 .col-l-5 p {
    text-align: left;
}  

.tablet .col-l-8 .col-l-12 p, 
.tablet .col-l-8 .col-l-7 p {
	padding: .5rem 0;
}

.tablet .col-l-8 .col-l-5 p {
	padding: .5rem 1rem;
}

/*-------------------------------Numbers------------------------------*/
.numbers p:first-of-type {
	font-size: 2.4rem;
    padding-bottom: .5rem;
}

.numbers p:last-of-type {
    font-size: 1.6rem;
}

.numbers {
	padding: 2.5rem 0;
}

.numbers .col-l-3 {
	text-align: center;
}

/*---------------------------------Info--------------------------------*/
.info h3 {
    font-size: 1.5rem;
    line-height: 2.2rem;
    text-align: left;
	padding-bottom: .5rem;
}

.info .text1, .info .text2, .info .text3 {
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: left;
}

.info .social {
    font-size: 1.9rem;
	display: inline-block;
	float: left;
    padding: 1rem 0;
}

.social .fab {
    padding: 0 .2rem;
}

.info {
 background-color: #313332;	
}

.info .box:nth-of-type(odd) {
	padding: 1.6rem;
	text-align: center;
} 

.info .box:nth-of-type(even) {
	padding-top: 1.6rem;
    padding-bottom: 1.2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
	text-align: center;
} 

.info .text1, .info h3 {
	float: left;
}

.info .text1 {
    width: 100%;
}

.footer h3::after {
	content: '';
	display: inline-block;
	width: 4.5rem;
	height: .2rem;
	margin-left: 1rem;
	margin-bottom: .3rem;
	background: #FFF;
}	

/*---------------------------------Footer--------------------------------*/
footer {
    font-size: 1.4rem;
    line-height: 3.8rem;
	height: 3.8rem;
	background-color: #252726;
	text-align: center;
} 

/*--------------------------------Desktop--------------------------------*/
@media (max-width: 1199px) {
    
    .col-l-1 {width: 8.33%;}
    .col-l-2 {width: 16.66%;}
    .col-l-3 {width: 25%;}
    .col-l-4 {width: 33.33%;}
    .col-l-5 {width: 41.66%;}
    .col-l-6 {width: 50%;}
    .col-l-7 {width: 58.33%;}
    .col-l-8 {width: 66.66%;}
    .col-l-9 {width: 75%;}
    .col-l-10 {width: 83.33%;}
    .col-l-11 {width: 91.66%;}
    .col-l-12 {width: 100%;}
    
    .col-l-offset-0 {margin-left: 0;}
    .col-l-offset-1 {margin-left: 8.33%;}
	.col-l-offset-2 {margin-left: 16.66%;}
	.col-l-offset-3 {margin-left: 25%;}
	.col-l-offset-4 {margin-left: 33.33%;}
	.col-l-offset-5 {margin-left: 41.66%;}
	.col-l-offset-6 {margin-left: 50%;}
	.col-l-offset-7 {margin-left: 58.33%;}
	.col-l-offset-8 {margin-left: 66.66%;}
	.col-l-offset-9 {margin-left: 75%;}
	.col-l-offset-10 {margin-left: 83.33%;}
	.col-l-offset-11 {margin-left: 91.66%;}
    
    nav img {
        margin-left: 1rem;
    }
    
    nav ul {
        margin-right: 1rem;
    }
    
    .layer {
		height: 17rem;
	}
    
	.numbers p {
		display: block;	
	}
    
}

/*-----------------------------Tablet---------------------------------*/
@media (max-width: 991px) {
    
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
    
    .col-m-offset-0 {margin-left: 0;}
    .col-m-offset-1 {margin-left: 8.33%;}
	.col-m-offset-2 {margin-left: 16.66%;}
	.col-m-offset-3 {margin-left: 25%;}
	.col-m-offset-4 {margin-left: 33.33%;}
	.col-m-offset-5 {margin-left: 41.66%;}
	.col-m-offset-6 {margin-left: 50%;}
	.col-m-offset-7 {margin-left: 58.33%;}
	.col-m-offset-8 {margin-left: 66.66%;}
	.col-m-offset-9 {margin-left: 75%;}
	.col-m-offset-10 {margin-left: 83.33%;}
	.col-m-offset-11 {margin-left: 91.66%;}

   
}

/*-------------------------------Mobiles--------------------------------*/
@media (max-width: 767px) {
    
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    
    .col-s-offset-0 {margin-left: 0;}
    .col-s-offset-1 {margin-left: 8.33%;}
	.col-s-offset-2 {margin-left: 16.66%;}
	.col-s-offset-3 {margin-left: 25%;}
	.col-s-offset-4 {margin-left: 33.33%;}
	.col-s-offset-5 {margin-left: 41.66%;}
	.col-s-offset-6 {margin-left: 50%;}
	.col-s-offset-7 {margin-left: 58.33%;}
	.col-s-offset-8 {margin-left: 66.66%;}
	.col-s-offset-9 {margin-left: 75%;}
	.col-s-offset-10 {margin-left: 83.33%;}
	.col-s-offset-11 {margin-left: 91.66%;}

   nav ul {
        display: block;
        float: none;
    }
    
    nav img {
        float: none;
    }
    
    nav {
		text-align: center;
		height: auto;
	}   
    
    .place .icon-btn:nth-child(even) {
        text-align: left;
    }
}

/*---------------------------Small Mobiles--------------------------------*/
@media (max-width: 575px) {
    
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    
    .col-s-offset-0 {margin-left: 0;}
    .col-s-offset-1 {margin-left: 8.33%;}
	.col-s-offset-2 {margin-left: 16.66%;}
	.col-s-offset-3 {margin-left: 25%;}
	.col-s-offset-4 {margin-left: 33.33%;}
	.col-s-offset-5 {margin-left: 41.66%;}
	.col-s-offset-6 {margin-left: 50%;}
	.col-s-offset-7 {margin-left: 58.33%;}
	.col-s-offset-8 {margin-left: 66.66%;}
	.col-s-offset-9 {margin-left: 75%;}
	.col-s-offset-10 {margin-left: 83.33%;}
	.col-s-offset-11 {margin-left: 91.66%;}

    nav li {
        display: block;
    }
	
    nav a {
        line-height: 4.8rem;
    }
		
	.hero {
		background-position: center 0;
	}
    
    .tagline p {
        max-width: 100%;
    }
	
	.icons {
        margin-top: 1rem;
		margin-bottom: 2.2rem;
        
	}
    
	.gallery {
		padding: 0 1rem;	
	}
	
	.second {
		height: auto;
		width: 100%;
	}
	
	header img {
		float: none;
		margin: 0 auto;
	}
	
	.foto img {
    	height: 20rem;
	}
    
	.layer {
		line-height: 22rem;
	}
    
    .place-padding {
		padding-top: 1rem;
		padding-bottom: 0;
	}
	
	.place p:first-of-type {
		padding-bottom: 1rem;	
	}
	
	.tablet .bg {
		background-position: center 0%;
		background-size: auto 70%;
	}
	
	.tablet .example8 {
        padding: 15rem 0 1rem 1.5rem;
	}

	.numbers {
		display: block;	
		margin-top: 0;
	}
	
	.example14 {
		padding-top: 1.5rem;
	}
	
	.numbers .example14:first-of-type {
		padding-top: 0;
	}
	
	.icon {
		text-align: center;	
	}
	
	.footer h3::after {
		display: block;
		width: 20rem;
		margin: 1rem auto;
	}	
	
	.example8 {
		padding-left: 1rem;	
	}
	
	.example15 {
		float: none;
		width: 80%;
		max-width: 25rem;
		margin: 0 auto;
	}
    
    .info{
        padding-top: 1.2rem;
        
    }
    
    .info h3, .info .text1 {
        text-align: center;
    }
    
    .info .social {
        margin: 0 auto;
    }
    
    .info .social {
		position: relative;
		left: 22%;
	}
}
